<div class="row">
  <ul class="thumbnails files">
    <% @albums.each do |album| %>
        <li class="col-md-3" id="album_<%= album.id %>" style="list-style-type: none;">
          <div class="thumbnail">
            <% if album.photos.first %>
            <%= link_to image_tag(album.photos.first.avatar.url), album_path(album) %>
            <% else %>
              N/A
            <% end %>
            <div class="caption">
              <p style="text-align: center;">
                <p><%= album.name%></p>
                <%= link_to "Show", album_path(album) %>
                <%if current_user.id == album.user_id%>
                <%= link_to "Edit", edit_album_path(album) %>
                <%= link_to "Delete", album,
                  :data => { :confirm => "Are you sure?" },
                  :method => :delete
                %>
                <%end%>
              </p>
            </div>
          </div>
        </li>
    <% end %>
  </ul>

</div>
<%= link_to 'New Album', new_album_path %>
